# Your Edline credentials go here. SCHOOL_URL is the school page that you get right after you login.
USERNAME = ''
PASSWORD = ''
SCHOOL_URL = ''

# Set to True to get the scraper to be more verbose
DEBUG = False

# These are the colors that get saved to the database when a class gets created.
CLASS_COLORS = ['#F7464B', '#F99647', '#2B9793', '#40CA39', '#949FB1', '#4D5360', '#000000']
