{% extends "layout.html" %}
{% block content %}
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        {% for child in child_class_grades %}
        <li class="accordion-item" id="accordion-{{ child.child_id }}" data-accordion-item>
            <a href="#panel-{{ child.child_id }}" class="accordion-title"><h5><i class="fi-torso"></i> {{ child.child_name }} - Overall grade: {{child.overall_grade_letter }} ({{ '%0.0f'| format(child.overall_grade_average|float) }}%)</h5></a>
            <div id="panel-{{ child.child_id }}" class="accordion-content" data-tab-content>
                <div class="row fullWidth">
                    <div class="small-12 large-4 columns">
                        <h4 class="subheader">Current Grades</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Grade</th>
                                    <th>Average</th>
                                    <th>Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for class_grade in child.grades %}
                                <tr>
                                    <td>
                                        <div style="border-radius: 50%; width: 10px; height: 10px; background-color: {{ class_grade.color }}; display: inline-block;"></div>
                                        {{ class_grade.class_name }}
                                    </td>
                                    <td>{{ class_grade.grade_letter }}</td>
                                    <td>{{ '%0.0f'| format(class_grade.grade_average|float) }}%</td>
                                    <td><a href="report/{{ class_grade.grade_id }}">{{ class_grade.post_date }}  <i class="fi-results"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="small-12 large-8 columns">
                        <h4 class="subheader">Trends</h4>
                        <canvas id="linechart-{{ child.child_id }}" height="400" width="800"></canvas>
                        <script type="text/javascript">

                            var lineChartData_{{ child.child_id }} = {
                            labels : {{ child.chart_labels|safe }},
                                datasets : [
                                {% for dataset_name in child.chart_data %}
                                    {
                                        label: "{{ dataset_name }}",
                                        strokeColor : "{{ child.chart_colors[dataset_name] }}",
                                        pointColor : "{{ child.chart_colors[dataset_name] }}",
                                        pointStrokeColor : "{{ child.chart_colors[dataset_name] }}",
                                        data : {{ child.chart_data[dataset_name]|tojson|safe }}
                                    },
                                {% endfor %}
                                ]
                            }

                            var lineChartOptions_{{ child.child_id }} = {
                                datasetFill: false,
                                responsive: true,
                            }

                            $('#panel-{{ child.child_id }}').on('toggled', function (event, accordion) {
                                if($('#accordion-{{ child.child_id }}').hasClass('active')) {
                                    var ctx_{{ child.child_id }} = document.getElementById("linechart-{{ child.child_id }}").getContext("2d");
                                    var linechart_{{ child.child_id }} = new Chart(ctx_{{ child.child_id }}).Line(lineChartData_{{ child.child_id }}, lineChartOptions_{{ child.child_id }});
                                }
                            });

                        </script>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><h5><i class="fi-info"></i> About</h5></a>
            <div id="panel-about" class="accordion-content" data-tab-content>
                <p>I wanted a way to aggregate and track my kids grades without having to traverse the entire Edline site everytime. A 15 minute routine has now become a 5 second routine.</p>
                <p>Inspired by XKCD <a href="http://xkcd.com/1205/">1205</a> and <a href="http://xkcd.com/974/">974</a></p>
                <p>Josh Burks - dotnofoolin@gmail.com - <a href="https://github.com/dotnofoolin">https://github.com/dotnofoolin</a></p>
            </div>
        </li>
    </ul>
{% endblock %}